/* Navigation */
#navbar{
    
    flex-direction: column;
    font-size: 10px;
}

/* Home-Section */
#Home{
    text-align: center;
    height: 450px;
}
#Home p{
    font-size: 13px;
    text-align: center;
}
#Home::before{
    height: 460px;
}

/* Services-Section */
.container{
    flex-direction: column;
}
.container .box{
    padding:15px;
}



/* Clients-Section */
.section{
    flex-wrap: wrap;
}
.clients{
    padding: 0px 15px;
}


/* Contact Us Section  */
.form-group input{
    width: 90%;
}
.form-group textarea{
    width: 90%;
}


/* ulitity classes */
.h-primary{
    font-size: 30px;
}
.h-secondary{
    font-size: 15px;
}
.btn{
    font-size: 13px;
}

/* Footer  */
footer{
    bottom: 0px;
}

